<!DOCTYPE html>
<html lang='<%- lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Productos'}) %>
<!-- body class="background-productos"-->
<body>
    <%- include('../template/navbar') %>

    <main class="">
        <div class="contenedor grid-main">
            <div class="contenedor-titulo">
                <h2 class="text-center">Sede <span>Bogotá</span></h2>
            </div>

            <form action="productos" method="post" class="formulario" enctype="multipart/form-data">
                <div class="form-control">
                    <input type="file" id="file_btn" name="file_csv" class="btn-subir">
                </div>
                <div class="btn-enviar mt-5">
                    <input type="submit" value="Cargar">
                </div>
            </form>
        </div>
    </main>

    <%- include('../template/footer') %>



    <% if( typeof success != 'undefined' ){ %>
        <%- include('../template/scripts') %>
        <script>
            let value = ejs.render('<%= success %>') == 1 ? 'success' : 'error';
            let msj = ejs.render('<%= msj %>');

            toastr[value](msj);
        </script>
    <% } %>
        

</body>
</html>